{% extends 'base.html' %}
{% block header_content %}
  <p>
    Come join us: <code>p.nerd.nu</code><br>
    X: -500, Z: -1025
  </p>
  <a class="btn btn-primary" href="https://reddit.com/r/brom/">Subreddit</a>
  <a class="btn btn-primary" href="https://webchat.gamesurge.net/?nick=Bromulan...&channels=Brom&prompt=1">IRC</a>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <h4>Planning</h4>
      <p>Connect: <code>p.brom.io</code></p>
      <a class="btn btn-primary btn-sm" href="/planning/carto/rev1/">Cartograph</a>
      <a class="btn btn-primary btn-sm" href="/planning/schem/">Schematics</a>
    </div>
    <div class="col-sm-6">
      <h4>Museum</h4>
      <p>Connect: <code>m.brom.io</code></p>
      <a class="btn btn-primary btn-sm" href="/museum/carto/">Cartograph</a>
    </div>
  </div>
{% endblock %}