{% extends 'base.html' %}
{% block header_content %}
  <br>
  <h4>BromID</h4>
{% endblock %}
{% block content %}
  Waiting for connection to identification server...<br>
  Connect to <code>id.brom.io</code> with the Minecraft user you want as your flair.
{% endblock %}
{% block javascript %}
  <script>
    function do_polling() {
      $.ajax({
        url: "{{ url_for('minecraftauthentication') }}",
        cache: false,
        success: function(data, status, event) {
            if(data["verified"] == true) {
                document.location.reload(true);
            }
        },
        complete: function(event, status) {
            window.setTimeout(do_polling, 3000);
        }
      })
    }
    do_polling();
  </script>
{% endblock %}