<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Brom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <style>
      html {
        min-height: 100%;
      }
      body {
        background-image: url('{{ url_for('static', filename='img/background.jpg') }}');
        background-position: center center;
        background-size: cover;
      }
      .card {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
        border-color: rgba(0, 0, 0, 0.7);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-full navbar-dark bg-inverse">
      <a class="navbar-brand" href="{{ url_for('standalone.index') }}">Brom</a>
      <ul class="nav navbar-nav">
        <li class="nav-item{%- if request.endpoint == 'standalone.index' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('standalone.index') }}">Servers{%- if request.endpoint == 'standalone.index' %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item{%- if request.blueprint == 'flair' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('flair.index') }}">Flair{%- if request.blueprint == 'flair' %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item{%- if request.blueprint == 'schematics' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('schematics.index') }}">Planning Schematics{%- if request.blueprint == 'schematics' %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
      </ul>
    </nav>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-xs-center">
          <div class="card card-inverse">
            <div class="card-block">
              <h1><img src="{{ url_for('static', filename='img/logo.png') }}"></h1>
              {% block header_content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-xs-center">
          <div class="card card-inverse">
            <div class="card-block">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-xs-center">
          <div class="card card-inverse">
            <div class="card-block">
              Issues? Contact <a href="https://www.reddit.com/message/compose?to=williammck">William McKinnerney</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>