{% extends 'base.html' %}
{% set no_bg = true %}
{% block header_content %}
  <br>
  <h4>Planning Schematics</h4>
{% endblock %}
{% block content %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
    Upload Schematic
  </button>
  <br>
  <br>
  <div class="table-responsive">
    <table class="table table-inverse table-bordered text-xs-left">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
          <tr>
            <td><a href="http://p.brom.io/schematics/{{ file }}">{{ file }}</a></td>
            <td><a href="#removeModal" data-toggle="modal" data-filename="{{ file }}">Remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block javascript %}
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{{ url_for('.upload') }}" method="POST" enctype="multipart/form-data">
          {{ upload_form.csrf_token }}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="uploadModalLabel">Upload Schematic</h4>
          </div>
          <div class="modal-body">
            <fieldset class="form-group">
              {{ upload_form.schematic.label }}
              {{ upload_form.schematic(class='form-control-file') }}
            </fieldset>
            {{ upload_form.recaptcha }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{ upload_form.submit(class='btn btn-primary') }}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{{ url_for('.remove') }}" method="POST" enctype="multipart/form-data">
          {{ remove_form.csrf_token }}
          {{ remove_form.filename }}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="removeModalLabel">Remove Schematic</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to remove the schematic "<span class="filename"></span>"?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{ remove_form.submit(class='btn btn-danger') }}
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $('#removeModal').on('show.bs.modal', function (event) {
      var link = $(event.relatedTarget);
      var filename = link.data('filename');
      var modal = $(this);
      modal.find('.modal-content #filename').val(filename);
      modal.find('.modal-body .filename').text(filename);
    })
  </script>
{% endblock %}
